{{ $profile_original := resources.Get "images/profile.webp" }}
{{ $small := $profile_original.Resize "400x" }}
{{ $medium := $profile_original.Resize "800x"}}
{{ $large := $profile_original.Resize "1200x" }}
<div>
	<div id="profile_image" class="justify-end flex">
		<img
			src="{{ $medium.RelPermalink }}"
			srcset="{{ $small.RelPermalink }} 400w,
							{{ $medium.RelPermalink }} 800w,
							{{ $large.RelPermalink }} 1200w"
			sizes="(max-width: 600px) 400px, (max-width: 1200px) 800px, 1200px"
			class="object-cover headshot float-md-end w-50 h-50 rounded-lg mb-1"
			loading="lazy"
			decoding="async"
			alt="Portrait of Shinwoo Kim"
		/>
	</div>
	<div class="text-end mt-5">
		<a class="no-underline autography text-3xl mt-5 text-end" href="{{ .Site.Home.RelPermalink }}">
			{{ .Site.Title }}
		</a>
	</div>
	<ul class="text-end list-none leading-6">
		<li>
			<a href="https://keybase.io/{{ .Site.Params.keybase }}" class="no-underline">
				<i class="fa-brands fa-keybase"></i>
				<span class="font-mono">{{ .Site.Params.keybase }}</span>
			</a>
		</li>
		<li>
			<a href="https://github.com/{{ .Site.Params.github }}" class="no-underline">
				<i class="fa-brands fa-github"></i>
				<span class="font-mono">{{ .Site.Params.github }}</span>
			</a>
		</li>
		<li>
			<a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}" class="no-underline">
				<i class="fa-brands fa-linkedin-in"></i>
				<span class="font-mono">{{ .Site.Params.linkedin }}</span>
			</a>
		</li>
		<li>
			<a href="https://twitter.com/{{ .Site.Params.twitter }}" class="no-underline">
				<i class="fa-brands fa-x-twitter"></i>
				<span class="font-mono">{{ .Site.Params.twitter }}</span>
			</a>
		</li>
	</ul>
</div>
