<div class="grid grid-cols-2 gap-x-8 items-start">
	{{ partial "nav/profile_picture.html" (dict "img_class" "rounded-lg object-cover") }}
	<div id="name_and_job">
		<div class="text-4xl autography">{{ .Site.Title }}</div>
		<div>
			{{ .Site.Params.jobTitle | safeHTML }}<br />
			{{ .Site.Params.company }}
		</div>
		{{ partial "nav/socials.html" (dict "class" "hidden sm:flex flex-col gap-1 mt-3 text-sm") }}
	</div>
	{{ partial "nav/socials.html" (dict "class" "sm:hidden flex flex-col gap-1 text-sm") }}
</div>
{{ partial "navbar.html" (dict "menuID" "main" "page" .) }}
