<nav class="border-y-[1px]  my-2">
	<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
		<!-- Mobile toggle -->
		<button id="nav-toggle" class="sm:hidden w-full py-2 text-center cursor-pointer" aria-label="Toggle navigation">
			☰
		</button>
		<!-- Navigation -->
		<ul id="nav-menu" class="hidden sm:w-full sm:flex flex-col sm:flex-row text-center sm:text-left gap-1 sm:gap-6">
			{%- for link in site.nav %}
			{% assign current = false %}
			{% if link.url == '/' %}
			{% if page.url == '/' %}{% assign current = true %}{% endif %}
			{% else %}
			{% if page.url contains link.url %}{% assign current = true %}{% endif %}
			{% endif %}
			<li>
				<a href="{{ link.url | prepend: site.baseurl }}"
					class="block py-2 px-3 hover:underline [text-underline-position:under] {% if current %} underline font-bold {% endif %}"
					{% if current %}aria-current="page" {% endif %}>
					{{ link.title }}
				</a>
			</li>
			{% endfor -%}
			<li class="sm:ml-auto">
				<button id="theme-toggle" aria-label="Toggle dark mode" class="py-2 px-3 text-center sm:text-left">
					<span class="fa-solid" id="theme-toggle-content"></span>
				</button>
			</li>
		</ul>
	</div>
</nav>