/*******************************
* Bootstrap Variable Overrides *
********************************/
$primary: #a00000;
$headings-font-weight: bold;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.55;
$h3-font-size: $font-size-base * 1.35;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base;
$font-family-sans-serif: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
/*******************
* Import Bootstrap *
********************/
@import "bootstrap";
