/*******************************
* Bootstrap Variable Overrides *
********************************/

// Colors
$blue: #164273;
$red: #c12727;
$orange: #de732b;
$yellow: #f8d476;
$green: #61bc6d;
$cyan: #4db3f1;

$primary: rebeccapurple;
$body-bg-dark: #222;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.55;
$h3-font-size: $font-size-base * 1.35;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base;
$headings-font-weight: bold;

$font-family-sans-serif: "Helvetica Neue", "Lato", Helvetica, Arial, sans-serif;
$font-family-monospace: "Intel One Mono", Consolas;

/*******************
* Import Bootstrap *
********************/
@import "bootstrap";
