.headshot {
    @extend .rounded;
    @extend .img-fluid;
}

@media screen and (min-width: 540px) {
    .headshot {
        max-height: 275px;
    }
}

.nav-link-current {
    font-weight: bolder;
    text-decoration: underline;
    text-underline-position: under;
}

.nav-link:hover {
    text-decoration: underline;
    text-underline-position: under;
    @extend .text-body;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
