{{ define "body" }}
<header class="mx-auto mb-3">
	<button
		id="theme-toggle"
		aria-label="Toggle dark mode"
		class="float-end py-2 px-3 text-center sm:text-left"
	>
		<span class="fa-solid" id="theme-toggle-content"></span>
	</button>
</header>

<article	class="prose-custom dark:prose-invert leading-[1.15em]">
	{{ block "main" . }} {{ end }}
</article>

<footer class="my-3 border-t">{{ partial "footer.html" . }}</footer>
{{ partial "scripts.html" . }} {{ end }} {{ define "main" }}
<div class="flex min-h-screen pt-30 lg:px-30">
	<aside class="flex-2 hidden md:block">
		{{ partial "blog/sidebar.html" . }}
	</aside>
	<main class="flex-4 p-6">
		<div class="max-w-2xl">
			{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
			<h1 class="font-bold my-0">{{ .Title }}</h1>
			{{- if .Params.Subtitle -}}
			<p class="text-lg mt-0 mb-0">{{ .Params.Subtitle }}</p>
			{{- end -}}
			<time class="text-sm" datetime='{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}'>
				{{ .Date.Format "2006. 01. 02. 15:04" }}
			</time>
			{{ .Content }}
			{{ partial "blog/post-table.html" . }}
			{{ partial "blog/namecard.html" . }}
		</div>
	</main>
</div>
{{ end }}
