@font-face {
	font-family: "Intel One Mono";
	src: url("https://cdn.jsdelivr.net/gh/intel/intel-one-mono@main/fonts/woff2/IntelOneMono-Regular.woff2")
		format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "autography";
	font-weight: 400;
	font-display: swap;
	src: url("../assets/fonts/autography.woff") format("woff");
}

@layer components {
	.autography {
		font-family: "Autography", cursive;
		font-weight: normal;
	}
}
