---
---

@import "typography_custom";
@import "boostrap_custom";
@import "code_highlight";
@import "layout_custom";
@import "header_custom";

html {
    scroll-behavior: smooth;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: 0.25em solid;
}

a {
    @extend .text-body;
    @extend .link-underline-opacity-25;
    text-underline-position: under;
}

a:hover {
    @extend .text-secondary;
    @extend .link-underline-opacity-100;
    text-underline-position: under;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.blink {
    animation: fade 1000ms infinite;
    -webkit-animation: fade 1000ms infinite;
}

thead tr th {
    @extend .table-secondary;
}

.table-sm td,
th {
    padding: 0.25em 1em !important;
}

table {
    @extend .table;
}
