---
layout: default
header_style: minimal
---

{% assign date_format = "%Y.%m.%d" %}
<!--  -->
{% capture words %}{{ content | number_of_words | minus: 180 }}{% endcapture %}
<main>
	<div class="mb-3">
		<!-- Tags -->
		<div class="flex flex-wrap gap-2">
			{% for tag in page.tags %}
			<span class="px-3 py-1 text-xs rounded-full bg-gray-100 text-gray-700">
				{{ tag }}
			</span>
			{% endfor %}
		</div>
		<h1 class="text-4xl md:text-5xl font-bold">
			{{ page.title }}
		</h1>
		{% if page.subtitle %}
		<p class="text-lg mb-0">
			{{ page.subtitle }}
		</p>
		{% endif %}
		<div class="text-sm">
			{% unless words contains '-' %}
			{{ words | plus: 150 | divided_by: 150 | append: ' min read' }} ·
			{% endunless %}
			{% if page.date %}
			{{ page.date | date: date_format }}
			{% endif %}
		</div>
	</div>
	<article class="prose prose-custom dark:prose-invert max-w-none">
		{{ content }}
	</article>
</main>