<ul>
  {{ with .Site.Params.mastodon }}
    <li>
      <a href="https://{{ .instance }}/@{{ .handle }}" class="not-prose text-decoration-none">
        <i class="fa-brands fa-mastodon"></i> {{ .handle }}@{{ .instance }}
      </a>
    </li>
  {{ end }}
  {{ with .Site.Params.github }}
    <li>
      <a href="https://github.com/{{ . }}" class="not-prose text-decoration-none">
        <i class="fa-brands fa-github"></i> {{ . }}
      </a>
    </li>
  {{ end }}
  {{ with .Site.Params.linkedin }}
    <li>
      <a href="https://linkedin.com/in/{{ . }}" class="not-prose text-decoration-none">
        <i class="fa-brands fa-linkedin"></i> {{ . }}
      </a>
    </li>
  {{ end }}
  {{ with .Site.Params.twitter }}
    <li>
      <a href="https://x.com/{{ . }}" class="not-prose text-decoration-none">
        <i class="fa-brands fa-x-twitter"></i> {{ . }}
      </a>
    </li>
  {{ end }}
</ul>

<p>
Or, feel free to reach out via <a href="mailto:{{ .Site.Params.email }}">email</a> (<a href="https://keybase.io/{{ .Site.Params.keybase }}">PGP</a>).
</p>
